*{
  margin:0px;
  padding:0px;
}

.box1 .logo{
  text-align: center;
  width:64px;
  height:50px;
}
.box2 .logo{
  text-align: center;
  width:64px;
  height:60px;
}

.learnMoreButton{
  color:#fff;
  background-color: orangered;
  border: 0;
  border-radius: 25px;
  width:150px;
  height:50px;
  font-size: 20px;
}

.contactus{
  background-color: rgb(39, 39, 230);
  color:#fff;
  width:120px;
  height:40px;
  font-size: 16px;
  font-family: 'Arial', Regular ;
  border:0;
  border-radius: 25px;
  cursor:pointer;
}

.submitButton{
  color:#fff;
  background-color: blue;
  border: 0;
  width:150px;
  height:50px;
  font-size: 20px;
}
input{
  width:350px;
  height:50px;
}

h1,h2,h3,h4,h5,h6{
  color:#fff;
  font-size: 16px;
  line-height: 2;
}

p{
  font-size: 13px;
  line-height: 2;
}


/*---------------- navbar start ----------------*/
.navbar{
  position: fixed;
  width:100%;
  height:6rem;
  z-index: 999;
  display:flex;
  align-self: center;
  justify-content:space-between;
  background-color:#0E0D0D;
}

.navbutton {
  width:100px;
  height:50px;
  margin:auto 1.5rem;
  cursor: pointer;
  display:none;
  
}

#check{
  display:none;
}

.mainlogo{
  margin-left:1.5rem;
  width:130px;
  padding:5px 0px;
  height:auto;
}

#navul{
  font-family: 'Arial', Regular ;
  width:85%;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  list-style: none;
  margin:auto 0;  
}

#navul li{
  display:block;
  position: relative;
}
#navul li .dropdown li{
  display:block;
  color:#000;
  line-height: 2;
}

#navul li .dropdown{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 2px;
  padding:1rem 1rem;
  width:15rem;
  background-color: #fff;
  display:none;
  position: absolute;
  z-index: 999;
}

#navul li .dropdown li:hover{
  color: orangered;
}
#navul li .dropdown li a{
  color: #000;
}
#navul li .dropdown li a:hover{
  color: orangered;
}

#navul li:hover ul.dropdown{
  display: block;
}

#navul a{
  text-decoration: none;
  color:white;
}

#navul a:hover{
  color:orangered;
}



@media only screen and (max-width: 1200px) {
  .navbutton{
    display:block;
  }

  #navul{
    flex-direction: column;
    position:fixed;
    width:30%;
    height:600px;
    background: #2c3e50;
    top:6rem;
    right:0;
    text-align: center;
    align-items: center;
    margin:auto; 
    display:block;
  }

  #navul li{
    display:block;
  }

  #check:checked ~ ul{
    left:0;
  }
  
}

/*-------------- navbar End ----------- */



/* ------------------Banner start------------------ */

.carousel-container{
  padding-top: 6rem;
  height:570px;
  z-index: -55;
}


.slide{
  width:100vw;
  height:600px;
  background: linear-gradient(180deg,rgba(0,0,0,.8),transparent);
  background-repeat: no-repeat;
}

.slide1,.slide2,.slide3,.slide4,.slide5{
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5vw;
}
.slide1{
  background-image:
    linear-gradient(to bottom, rgba(40, 40, 41, 0.52), rgba(36, 35, 36, 0.73)),
    url('./images/homebanner.png');
}

.slide2{
  background-image:
  linear-gradient(to bottom, rgba(40, 40, 41, 0.52), rgba(36, 35, 36, 0.73)),
  url('./images/homebanner.png');
}

.slide3{
  background-image:
  linear-gradient(to bottom, rgba(40, 40, 41, 0.52), rgba(36, 35, 36, 0.73)),
  url('./images/homebanner.png');
}


.slide4{
  background-image:
  linear-gradient(to bottom, rgba(40, 40, 41, 0.52), rgba(36, 35, 36, 0.73)),
  url('./images/homebanner.png');
}
 
.slide5{
  background-image:
  linear-gradient(to bottom, rgba(40, 40, 41, 0.52), rgba(36, 35, 36, 0.73)),
  url('./images/homebanner.png');
}

.slide h4,p{
  color:#fff;
}

.slide h4{
  font-size: 50px;
  font-family: 'Arial', Regular ;
}

.slide p{
  font-size: 20px;
  font-family: 'Arial', Regular ;
}
/* ------------------Banner end------------------ */


/* --------------------------section start-------------------------- */
.section{
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.section h2{
  margin-top: 40px;
  color:#b03c00;
  font-size: 40px;
  font-family: 'Arial', Regular ;
}
.section p{
  color:#b03c00;
  font-size: 20px;
  font-family: 'Arial', Regular ;
}


.box1{
  margin-top:60px;
  display:flex;
  justify-content: space-around;
}
.box2{
  margin-top:60px;
  margin-bottom: 60px;
  display:flex;
  justify-content: space-around;
}

.card1,.card2,.card3,.card4,.card5,.card6{
  width:20vw;
  background-color:#fff;
  padding:2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.card1 h4, .card2 h4,.card3 h4,.card4 h4,.card5 h4,.card6 h4{
  color:#000;
  font-size: 20px;
  font-family: 'Arial', Regular ;
}

.card1 p, .card2 p,.card3 p,.card4 p,.card5 p,.card6 p{
  font-size: 16px;
  font-family: 'Arial', Regular ;
  color:#000;
}

.section button{
  width: 50px;
}


@media only screen and (max-width: 1200px) {
  .box1{
    margin-top: 0px;
    display:grid;
    grid-template-columns: auto auto;
  }
  .box2{
    margin-top: 0px;
    display:grid;
    grid-template-columns: auto auto;
  }

  .card1,.card2,.card3,.card4,.card5,.card6{
    margin-top:1rem;
  }
}
/* --------------------------section end-------------------------- */

/* ------------------testimonial start------------------ */

.testimonialcontainer{
  margin-top: 60px;
  margin-bottom: 60px;
  height:800px;
  z-index: -55;
}

.testimonialcontainer h2{
  color:orangered;
  text-align: center;
  font-size: 40px;
  font-family: 'Arial', Regular ;
}

.testimonialslide1,.testimonialslide2,.testimonialslide3,.testimonialslide4,.testimonialslide5,.testimonialslide6,.testimonialslide7,.testimonialslide8,.testimonialslide9,.testimonialslide10{
  width:400px;
  height:750px;
  border: 20px solid white;
  padding:20px;
  background-repeat: no-repeat;
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.testimonialslide1{
  
  background-image: linear-gradient(120deg, #ffff 0%, #d57eeb 100%);
  
}
.testimonialslide2{
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
.testimonialslide3{
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}
.testimonialslide4{
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
}
.testimonialslide5{
  background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
}
.testimonialslide6{
  background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
}
.testimonialslide7{
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
.testimonialslide8{
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}
.testimonialslide9{
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}
.testimonialslide10{
  background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
}

.testimonialslide1 h4,.testimonialslide2 h4,.testimonialslide3 h4,.testimonialslide4  h4 ,.testimonialslide5   h4,.testimonialslide6   h4,.testimonialslide7 h4 ,.testimonialslide8 h4,.testimonialslide9 h4,.testimonialslide10 h4{
  color:blue;
  font-size: 22px;
  font-family: 'Arial', Regular ;
}
.testimonialslide1 h6,.testimonialslide2 h6,.testimonialslide3 h6,.testimonialslide4   h6,.testimonialslide5  h6 ,.testimonialslide6  h6 ,.testimonialslide7 h6 ,.testimonialslide8 h6,.testimonialslide9 h6,.testimonialslide10 h6{
  color:#000;
  font-size: 18px;
  font-family: 'Arial', Regular ;
}
.testimonialslide1  p,.testimonialslide2  p,.testimonialslide3  p,.testimonialslide4    p,.testimonialslide5   p ,.testimonialslide6    p,.testimonialslide7   p,.testimonialslide8  p,.testimonialslide9  p,.testimonialslide10 p{
  color:#000;
  font-size: 16px;
  font-family: 'Arial', Regular ;
}
.testimonialslide1  .testimonialbadge,.testimonialslide2  .testimonialbadge,.testimonialslide3  .testimonialbadge,.testimonialslide4    .testimonialbadge,.testimonialslide5   .testimonialbadge ,.testimonialslide6    .testimonialbadge,.testimonialslide7   .testimonialbadge,.testimonialslide8  .testimonialbadge,.testimonialslide9  .testimonialbadge,.testimonialslide10 .testimonialbadge{
  background-color: #000;
  align-items: baseline;
  border-radius: 50px;
  padding:20px;
  position:absolute;
  bottom:35px;
  margin-left:84px;
}
.testimonialslide1  #weblink,.testimonialslide2  #weblink,.testimonialslide3  #weblink,.testimonialslide4    #weblink,.testimonialslide5   #weblink ,.testimonialslide6    #weblink,.testimonialslide7   #weblink,.testimonialslide8  #weblink,.testimonialslide9  #weblink,.testimonialslide10 #weblink{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

/* ------------------testimonial end------------------ */

/* ---------------- main start start ----------------*/
.booking-container{
  width:80%;
  margin: auto;
  border-radius: 10px;
  padding:4rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) ;
}

.form{
  display: flex;
  flex-direction: column;
}

.upper{
  display:flex;
  justify-content: space-evenly;

}

.upper input{
  margin:0 2rem;
}

.form input,select{
  
  border:1px solid blue;
  border-radius: 5px;
  padding: 0.4rem;
}

label{
  color:orangered;
  font-size: 18 px;
}

.lower{
  margin: 2rem  0rem;
  display:flex;
  justify-content: space-between;
}

#number{
  width:30%;
  margin-top:1.5rem;
}

.form .button{
  width:20%;
  height:5rem;
  color:#fff;
  background-color: orangered;
  border-radius: 10px;
  border: 2px solid orangered;
  margin:auto;
}

.uppercase{
  width:80%;
  height:100%;
  margin: 2rem auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding:2rem 2rem;
}

textarea{
  width:100%;
}
/*---------------- main end ----------------*/


/* ----------------------------About start------------------------------ */

.container{
  padding-top: 5rem;
  
}

.breadcrumb{
  background-image: url('./images/aboutus.jpg');
  background-repeat: no-repeat;
  height:510px;
  padding-top:10rem;
}

.container .breadcrumb h2{
  color:orangered;
  text-align: left;
  font-size: 40px;
  font-family: 'Arial', Regular ;
}
.container .breadcrumb p{
  color:#000;
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  font-family: 'Arial', Regular ;
}
.container .breadcrumb .contactus{
  margin-top: 2rem;
  margin-left:5rem;
}

.container h2{
  text-align: center;
  padding:0px 80px;
  font-size: 32px;
  font-family: 'Arial', Regular ;
  color:#000;

}
.container p{
  display:flex;
  justify-content: center;
  padding:10px 80px;
  color:#000;
  font-size: 18px;
  font-family: 'Arial', Regular ;
}


.foundersection{
  width:95%;
  margin:60px auto;
  padding: 60px 30px;
  display:flex;
  background-color: #5d5bd4;
}

.foundersection .founder{
  display:flex;
  align-items: center;
  flex-direction: column;
  width:30vw;
}

.foundersection .founder #founderimg{
  height:450px;
  width:300px;
}

.foundersection .founderthought{
  display:flex;
  flex-direction: column;
  width:70vw;
}

.foundersection .founderthought p{
  padding:0px;
}

/* ----------------------------About end------------------------------ */

/* -------------------ESG start-------------------- */

.esgimgcontainer{
  padding-bottom:30px;
  height: 400px;
  width:100vw;
  background-image: url('./images/esgg.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.esgcontent p{
  padding:10px 80px;
  font-size: 18px;
  font-family: 'Arial', Regular ;
  text-align: left;
  color:#000;
}
.esgcontent h2{
  padding:10px 80px;
  text-align: center;
  font-size: 32px;
  font-family: 'Arial', Regular ;
  color:orangered;
}
.esgcontent p a{
  text-decoration: none;
  color:blue;
}
/* -------------------ESG end-------------------- */



/*------------------- contactus start------------------- */
.contactcontainer{
  background-color: #000;
  padding-top: 8rem;
}

#contacthead{
  display:flex;
  justify-content: space-around;
  padding:0px 80px;
}

.contactcontainer #contacthead h2{
  width:60%;
  color:#fff;
  font-size: 60px;
  font-family: 'Arial', Regular ;
}
.contactcontainer #contacthead p{
  width:40%;
  color:#fff;
  font-size: 22px;
  font-family: 'Arial', Regular ;
}

.contactcard{
  margin-top: 5rem;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#card1,#card2,#card3{
  padding: 40px 80px;
  border:2px solid rgb(77, 74, 74);
  display:flex;
  flex-direction: column;
  align-items: center;
}

#card1:hover ,#card2:hover ,#card3:hover {
  background-color: #2c3e50;
  border:2px solid white;
}


#card1 img,#card2 img,#card3 img{
  width:50px;
  height:50px;
}

#card1 p,#card2 p,#card3 p{
  color:#fff;
  font-size: 22px;
  font-family: 'Arial', Regular ;
}

#card1 a,#card2 a,#card3 a{
  text-decoration: none;
}


.contactnavigation{
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  
}

.contactnavigation p{
  text-decoration: none;
  color:rgb(145, 138, 138);
  font-size: 22px;
  font-family: 'Arial', Regular ;
}

.contactnavigation #links{
  display:flex;
  justify-content: space-between;
}

.contactnavigation #links a{
  padding: 40px 0px;
  display: flex;
  gap: 10px;
  color:#fff;
  font-size: 16px;
  font-family: 'Arial', Regular ;
  text-decoration: none;
  align-items: center;
}

.contactnavigation #links a:hover{
  color:#5d5bd4;
}


.contactnavigation #links a #arrow{
  border:2px solid white;
  padding:6px 10px;
  border-radius: 100%;
}

.contactnavigation #links a #arrow:hover{
  background-color: #fff;
  color:black;
}

.contactusform{
  padding-top:40px;
  padding-bottom:60px;
  background-color: #000;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.contactusform p{
  margin:20px 80px;
  color:#fff;
  font-size: 18px;
  font-family: 'Arial', Regular ;
}
.contactusform h2{
  color:#fff;
  font-size: 26px;
  font-family: 'Arial', Regular ;
}

.contactusform form{
  display: flex;
  flex-direction: column;
  width:40%;
}
.contactusform form input,textarea{
  font-size: 22px;
  padding:10px;
  color:#fff;
  border:1px solid #fff;
  background-color:#000;
  border-radius: 5px;
  margin:10px 10px;
  font-family: 'Arial', Regular ;
}
.contactusform form #consent{
  width:380px;
  margin:20px 0px;

}

.contactusform form .submitButton{
  border-radius:50px;
}

.contactusform .formcontainer{
  display: flex;
}

.formcontainer #image{
  width:60%;
}

.contactusform form textarea{
  height:100px;
  width:350px;
}

.contactusform form label{
  font-size: 16px;
  color:#fff;
  background-color:#000;
  font-family: 'Arial', Regular ;
}

.contactinfocontainer{
  display: flex;

}

.contactinfocontainer #image img{
  width:100%;
}

.contactinfocontainer #contactinfo{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left:5%;
  width:40%;
}

#contactinfo h3{
  margin: 10px 0px;
  font-size: 20px;
  color:rgb(145, 138, 138);
  font-family: 'Arial', Regular ;
}
#contactinfo p{
  font-size: 16px;
  margin:0;
  color:rgb(145, 138, 138);
  font-family: 'Arial', Regular ;
}
/*------------------- contactus end------------------- */


/*---------------- Footer start ----------------*/
.footer{
  font-family: 'Arial', Regular ;
  background-color: rgb(14, 13, 13);
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding:2rem;
}

.row1{
  color:#c9c9ce;
  width:30%;
}

.row2,.row3,.row4{
  color:#c9c9ce;
  width:20%;
}

.footerul li{
  list-style: none;
  font-size: 16px;
}

.social-links {
  display: flex;
  justify-content: space-between;
}


#social-logo{
  margin-top:1rem;
  margin-right:1rem;
  width:30px;
}

.disclamer{
  align-items: center;
  font-family: 'Arial', Regular ;
  width:100%;
  height:5vh;
  color:#c9c9ce;
  background-color: #000;
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
}

iframe{
  width:98%;
  height:300px;
  border:0;
}

/*---------------- footer start ----------------*/

/* ------------------client section-------------------- */

.clientsection{
  padding-top: 6rem;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 60px;
  background-color:#ddbfa061;
}
.clientsection h2{
  
  padding:10px 80px;
  text-align: center;
  font-size: 32px;
  font-family: 'Arial', Regular ;
  color:orangered;
}
.clientsection p{
  font-size: 18px;
  padding:10px 0px;
  font-family: 'Arial', Regular ;
  text-align: left;
  color:#000;
}

.clientsection img{
  width:100%;
}